body {
        background-color: black;
        color: aliceblue;
}
    h1 {
        padding: 2em 15em  ;
    }
    .imgum {
        padding-top: 0%;
        padding-left: 31%;
    }
    .imgd{
        padding-top: 0%;
        padding-left: 1%;
    }
    .imgt {
        padding-top: 1% ;
        padding-left: 31%;
    }
    .imgq {
        padding-top: 1% ;
        padding-left: 1%;


    }


    








